FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
FLASK_RUN_PORT=5001

# Option 1: provide a complete SQLAlchemy database URL.
# DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/rungta_employee

#postgresql://postgres.vbgqvlmrkctbodiudfkc:Butunma%2A312%23@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
postgresql://postgres:Butunma%2A312%23@db.rhtgizarveynkubpraqb.supabase.co:5432/postgres


# Option 2: provide separate PostgreSQL values.
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=rungta_employee
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
